.App {
  text-align: center;
  background-color: #d2d3d3;
  min-height: 750px;
  margin-left: 4px;
  margin-right: 4px;
}

.profile-img {
 height: 280px;
 width: 280px;
 align-items: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 20px;
}


.img-icon {
  width: 30px;
  height: 30px;
}

